
.form > div > div:nth-child(4), .form > div > div:nth-child(3){
    display: flex;
    align-items: center;
    width: 60%;
    justify-content: space-between;
}

.form > div > div:nth-child(4) > label, .form > div > div:nth-child(3) > label{
    position: static;
    transform: none;
    color: black;
}

.form > div > div:nth-child(4) > select, .form > div > div:nth-child(3) > select{
    background-color: white;
    height: 25px;
    border-radius: 5px;
    border: 1px solid #f48493;
    width: 75px;
}

#confirm_password-div{
    position: relative;
    width: 100%;
}

#confirm_password-div > label{
    position: absolute;
    top: 45%;
    left: 5px;
    transform: translate(0, -50%);
    color: #808080;
    font-size: 20px;
    font-weight: 400;
    padding: 0 5px;
    z-index: -10;
    transition: 0.5s;
}

#confirm_password-div > input{
    height: 40px;
    width: 100%;
    border-radius: 10px;
    border: 1px #f48493 solid;
    font-size: 18px;
    padding-left: 10px;
    outline: none;
    background-color: transparent;
}

#confirm_password-div > input:focus + label, #confirm_password-div > input:not(:placeholder-shown) + label{
    top: 0px;
    font-size: 16px;
    background-color: white;
    font-weight: 600;
    color: #f48493;
    z-index: 10;
}